.createNewAccount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.field {
  margin: 1rem 0;
  width: 100%;
}
.green {
  color: green;
}
.red {
  color: red;
}
