.contactContainer {
  .sectionContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 0.5rem;
    font-size: 20px;
    align-items: center;
    .contactNameSection {
      display: flex;
      margin: 0;

      align-items: center;
      .avatar {
        border-radius: 50%;
        background-color: green;
        padding: 10px 18px;
        margin: 0 10px;
        color: white;
      }
      .contactName {
      }
    }
    .amount {
      font-size: 20px;
      margin: 0;
    }
  }
}

.green {
  color: green;
}
.red {
  color: red;
}
.grey {
  color: grey;
}
