html,
body {
  padding: 0;
  margin: 0;
  background-color: #29295e;
  /* color: white; */
  padding: 6px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Poppins;
  /* color: white !important; */
}
p,
h2,
input
{
  color: white !important;
}

.css-1ysjrvj-MuiStack-root,
.MuiDataGrid-columnHeaderTitle,
.css-1jbbcbn-MuiDataGrid-columnHeaderTitle,
.MuiDataGrid-cellContent {
  color: white !important;
}
